@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100&display=swap');

body{
    background-color: #B38C56;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    display: inline;
    height: auto;
    width: auto;
    line-height: 30px;
}

main{
    background-color: white;
    width: 1050px;
    border-radius: 10px;
    padding: 40px;
    margin: 100px;

}

h1{
    color: #47467D;
    text-align: center;
    font-family:'Roboto', sans-serif;

}
h2{
    background-color:
    font-family:'Roboto', sans-serif;
    col

}

#id{
    text-align: center;
    

}
.vers{
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    

}